*{
margin:0;
padding:0;
box-sizing:border-box;
}

#bg-video{
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
z-index: -1;
object-fit: cover;
}
body{
margin:0;
font-family:Arial;
background:#111;
}

/* Navbar */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:rgb(220, 130, 13);
padding:15px 40px;
}

/* Logo */

.logo{
color:rgb(224, 147, 13);
font-size:28px;
font-weight:bold;
letter-spacing:2px;
}

/* Navigation Links */

.nav-links{
list-style:none;
display:flex;
gap:25px;
}

.nav-links li a{
text-decoration:none;
color:white;
font-size:16px;
transition:0.3s;
}

/* Hover Effect */

.nav-links li a:hover{
color:rgb(202, 132, 20);
border-bottom:2px solid rgba(214, 138, 18, 0.822);
padding-bottom:3px;
}
.content{
position: relative;
color: white;
text-align: center;
top: 40vh;
font-size: 30px;
}
        section {
            padding: 20px; body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #006400;
            color: white;
            padding: 20px;
            text-align: center;
        }
        nav {
            background-color: #228B22;
            padding: 15px 40px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 3px;
        }
        nav a {
            color: white;
            margin: 10px;
            text-decoration: none;
            font-weight: bold;
        }

body{
font-family: Arial;
background:#111;
color:white;
}

#career{
text-align:center;
padding:50px;
}

.card-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.card{
background:#222;
width:260px;
border-radius:10px;
overflow:hidden;
box-shadow:0 5px 15px rgba(0,0,0,0.6);
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
}

.card img{
width:100%;
height:180px;
object-fit:cover;
}

.card h3{
margin:15px;
color:burlywood;
}

.card p{
margin:0 15px 15px;
font-size:14px;
}

.card button{
margin-bottom:20px;
padding:10px 20px;
border:none;
background:burlywood;
color:black;
cursor:pointer;
border-radius:5px;
}

.card button:hover{
background:white;
}

        }
        footer {
            background-color: #006400;
            color: white;
            text-align: center;
            padding: 10px;
        }
        button {
            padding: 10px 15px;
            background-color: green;
            color: white;
            border: none;
            cursor: pointer;
        }
        form {
            margin-top: 20px;
        }
      